.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
}

.editor-class {
    background-color: rgb(251, 247, 247);
    padding: 1rem;
    border: 1px solid #ccc;
}

.toolbar-class {
    border: 1px solid #ccc;
}

.imgStyle {
    border-radius: 1.5rem;
    opacity: .8;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50rem;
    height: 26rem;
}

#createHead {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2.2rem;
}

#centerbtn {
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* *******************       POPUP STYLES              ************************* */

.pop-up {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 99999;
    font-family: 'Montserrat', sans-serif;
}

.input-box input {
    font-size: 1rem !important;
}

.input-box {
    width: 50rem;
    padding: 40px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.cross-btn {
    color: crimson;
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.input-box h5 {
    color: black;
}

.input-box input {
    width: 100%;
    padding: 8px;
    outline: 0;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input-box button {
    padding: 5px 1.3rem;
    font-size: 18px;
    margin: auto;
    /* background-color: #ef476f; */
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

.input-box button:hover {
    background: #f0849d;
    border: 2px double #c6e48f;
}

/* ------------------------------------------- */

.form_box {
    padding: 1.5px 30px;
    border-radius: 18px;
    height: 2.8rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.959);
}

.form_box:hover {
    border: 4px solid #fae5ed;
}

.form-control:focus {
    border-color: #f7d3e0;
    outline: none;
    box-shadow: none;
    /*   border: none; */
}

.upload_style {
    color: black;
}

.file {
    position: relative;
    display: flex;
}

.file>input[type="file"] {
    display: none;
}

.file>label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-radius: 15%;
    /* width: 5rem; */
    /* height: 3rem; */
    /* border: 1.5px black groove; */
    background-color: black;
    /*  heart bg color */
    color: hsl(0, 0%, 29%);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file>label>i {
    padding-right: 5px;
}

.file--upload>label {
    /* border: 2px ridge #c9184a; */
    /* border-color: black */
    transition: all 0.3s ease;
}

/* heart hover */

.file--upload>label:hover {
    background-color: #2ec4b6;
}

.file--upload>label:active {
    background-color: #ffffffe8;
}

.pro_card {
    border: 2px dashed rgba(92, 88, 88, 0.815);
    background-color: white;
    padding: 1.5rem 9.6px;
    margin: 1rem;
}

.ico_big {
    font-size: 2.5rem;
    color: white;
}

.buttonPadding {
    padding-top: 4rem;
    margin-bottom: 2.5rem;
}

.rc-md-navigation .button-wrap .rmel-iconfont {
    font-size: 24px;
}

.rc-md-navigation .button-wrap .button {
    height: 50px;
    margin-right: 14px;
    padding-top: 6px;
}

@media (max-width:870px) and (min-width:460px) {
    .rc-md-navigation .button-wrap .rmel-iconfont {
        font-size: 20px;
    }
    .rc-md-navigation .button-wrap .button {
        height: 40px;
        margin-right: 10px;
    }
    .ico_big {
        font-size: 1.3rem;
    }
    .file>label {
        padding: 8px;
    }
}

@media (max-width: 460px) {
    .rc-md-navigation .button-wrap .rmel-iconfont {
        font-size: 17.5px;
    }
    .rc-md-navigation .button-wrap .button {
        height: 30px;
        margin-right: 8px;
    }
    #createHead {
        font-size: 1.7rem;
        padding-top: 1.4rem;
    }
    .ico_big {
        font-size: 1.45rem;
    }
    .file>label {
        padding: 8px;
    }
}